@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-glow {
  box-shadow: 0 0 20px rgba(0, 255, 255, 0.6), 0 0 40px rgba(0, 255, 255, 0.3);
}
.nav-link-glow:hover {
  text-shadow: 0 0 10px rgba(0, 255, 255, 0.7);
}

/* Base Styles */
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: black;
  overflow-x: hidden;
}

/* Keyframes for Text Animation */
@keyframes textGlow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Text Animation */
.animate-text {
  background-size: 200% 200%;
  animation: textGlow 6s ease infinite;
}

/* Starfield Background */
.bg-stars {
  background: radial-gradient(circle, rgba(255,255,255,0.1) 1px, transparent 1px);
  background-size: 3px 3px;
  opacity: 0.3;
  animation: twinkle 10s infinite;
}

@keyframes twinkle {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-1px);
  }
}


/* Dark Mode Linear Gradient Background Animation */
@keyframes gradientBackground {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-gradientBackground {
  background-size: 200% 200%;
  animation: gradientBackground 3s ease infinite;
}

/* Hover animation for the card */
@keyframes cardHover {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.hover\:animate-cardHover:hover {
  animation: cardHover 1s ease-in-out infinite;
}

/* Hover animation for the button */
@keyframes buttonHover {
  0% {
    transform: scale(1);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  50% {
    transform: scale(1.1);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  }
  100% {
    transform: scale(1);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
}

.hover\:animate-buttonHover:hover {
  animation: buttonHover 0.5s ease-in-out;
}

/* Capsule hover text color */
.hover\:text-white:hover {
  color: white;
}
